---
import "@/styles/card.css";
import FlutterAstro from "@/icons/FlutterAstro.astro";
import Layout from "@/layouts/Layout.astro";
import { BgLight } from "@/components/layout/BackgroundLigh";
import SearchTs from "@/components/SearchTs";
import SelectTecHome from "@/components/SelectTecHome.astro";
import TextPlanet from "@/components/TextPlanet.astro";
import { ALL } from "@/lib/data/search/data";

const { id } = Astro.params;
const searchKeywords = (id || "").toLowerCase().split(" ");

const filteredTech = ALL.filter((tech) =>
  searchKeywords.some(
    (keyword) =>
      tech.id.toLowerCase().includes(keyword) ||
      tech.name.toLowerCase().includes(keyword) ||
      (tech.info && tech.info.toLowerCase().includes(keyword))
  )
);
---

<Layout title="wasy.me" description={"Search best tools for your projects"}>
  <BgLight.Grey />
  
  <!-- Header Section -->
  <section class="my-6 ml-20 mb-14 md:flex hidden">
    <TextPlanet />
    <FlutterAstro />
  </section>
  
  <!-- Search and Select Tech Section -->
  <div>
    <SearchTs client:load />
    <SelectTecHome />
  </div>
  
  <!-- Card and Content Section -->
  <section class="grid grid-cols-2 my-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-x-8 gap-y-8">
    {
      filteredTech.length > 0 ? (
        filteredTech.map((index, i) => (
          <article class={`card-animation delay-${i * 100}`}>
            <a href={index.link} target="_blank" class="index-link">
              <figure class="flex items-center justify-center relative">
                <img
                  class="object-cover w-[50%] aspect-square rounded-[10px] z-10"
                  src={index.img}
                  alt={index.name}
                />
                <img
                  class="absolute object-cover w-[70%] aspect-square bg-white rounded-[10px] blur-effect"
                  src={index.img}
                  alt={index.name}
                />
              </figure>

              <div class="flex justify-center items-center mt-6">
                <h2 class="text-[16px] font-bold text-left text-white/50">
                  {index.name}
                </h2>
              </div>
            </a>
          </article>
        ))
      ) : (
        <div class="col-span-full text-center text-red-500 mt-6">
          <p>The tool you were looking for was not found. 😥</p>
        </div>
      )
    }
  </section>
</Layout>

<!-- MARK: style -->
<style>
  /* Animaciones de las tarjetas */
  .blur-effect {
    opacity: 0;
    filter: blur(0);
    transition:
      opacity 0.9s ease,
      filter 0.9s ease;
  }

  .index-link:hover .blur-effect {
    opacity: 0.5;
    filter: blur(15px);
    transition:
      opacity 0.3s ease,
      filter 0.3s ease;
  }

  /* Escalar el logo al hacer hover */
  .index-link:hover {
    transform: scale(1.05);
    transition: transform 0.4s ease;
  }
</style>
