---
interface Props {
  title: string;
  description: string;
  image?: string;
}

const {
  title,
  description,
  image = "https://raw.githubusercontent.com/bastndev/wasy.me/refs/heads/main/public/assets/github/screenshot.webp?token=GHSAT0AAAAAACV3BFPMY5XOJ67IXQ4UBRR4ZX557KQ",
} = Astro.props as Props;
---

<!-- HTML Meta Tags -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<title>{title}</title>
<meta name="description" content={description} />

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.wasy.me/" />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="wasy.me" />
<meta property="twitter:url" content="https://www.wasy.me/" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />